<div class="main-content">
        <div class="header">
            <h1>Aplicaciones</h1>
        </div>

        <div class="apps-grid">
            <div class="large-app-card" onclick="openApp('MDPDF')">
                <img src="https://inled.es/upload/MDPDF.png" class="app-icon" alt="icono MDPDF" />
                <div class="large-app-header">MDPDF</div>
                 <div class="large-app-description">Edita y previsualiza markdown y expórtalo a PDF</div>
            </div>
            <div class="large-app-card" onclick="openApp('inlinked')">
                <img src="https://inlinked.inled.es/INLINKED.png" class="app-icon" alt="icono inLinked" />
                <div class="large-app-header">inLinked</div>
                 <div class="large-app-description">Formatea texto para LinkedIN</div>
            </div>
            <div class="large-app-card" onclick="openApp('inmd')">
                <img src="https://inled.es/upload/inMD.png" class="app-icon" alt="icono inMD" />
                <div class="large-app-header">inMD</div>
                 <div class="large-app-description">Edita markdown como si estuvieras en Word, sin ver código</div>
            </div>
            <div class="large-app-card" onclick="openApp('indoc')">
                <img src="https://inled.es/upload/INDOC.png" class="app-icon" alt="icono inDOC" />
                <div class="large-app-header">inDOC</div>
                 <div class="large-app-description">Edita texto enriquecido online</div>
            </div>
            <div class="large-app-card" onclick="openApp('inqr')">
                <img src="https://inqr.inled.es/inqr.png" class="app-icon" alt="icono inQR" />
                <div class="large-app-header">inQR</div>
                 <div class="large-app-description">crea códigos QR para webs, redes wifi y códigos de barras</div>
            </div>
            <div class="large-app-card" onclick="openApp('inpdf')">
                <img src="https://inpdf.inled.es/favicon.ico" class="app-icon" alt="icono inpdf" />
                <div class="large-app-header">InPDF</div>
                 <div class="large-app-description">Visor PDF con IA. Para Chrome</div>
            </div>
        </div>

        <div class="section-title">Más de Inled</div>
        <div class="large-apps-grid">
            <div class="large-app-card" onclick="openApp('start')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/start-simple-blanco-sinfondo.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Start</div>
                </div>
                <div class="large-app-description">Busca más rápido, accede al instante. Tu multibuscador y página de inicio</div>
            </div>

            <div class="large-app-card" onclick="openApp('somnibox')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/icon128.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Start Omnibox</div>
                </div>
                <div class="large-app-description">Escoja el motor de búsqueda que desea desde una ventana junto a la barra de Chrome.
Ya no tendrá que navegar a cada motor de búsqueda para comenzar a buscar.

</div>
            </div>

            <div class="large-app-card" onclick="openApp('sntp')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/start.newtabpage.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Start New Tab Page</div>
                </div>
                <div class="large-app-description">Experimenta la productividad en estado puro con Start como página de inicio</div>
            </div>

            <div class="large-app-card" onclick="openApp('domaininfo')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/favicon.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Domain Info</div>
                </div>
                <div class="large-app-description">Obtén información sobre un dominio o dirección IP</div>
            </div>
            
            <div class="large-app-card" onclick="openApp('serverstatus')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/favicon.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Server Status</div>
                </div>
                <div class="large-app-description">Comprueba el estado de los servicios de Inled en el cloud</div>
            </div>

            <div class="large-app-card" onclick="openApp('swiftinstall')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/swiftinstall-logo.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Swiftinstall</div>
                </div>
                <div class="large-app-description">Instala y elimina aplicaciones fuera de la Store de Linux</div>
            </div>

            <div class="large-app-card" onclick="openApp('warpvpngui')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/warpupscale.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Warp VPN GUI</div>
                </div>
                <div class="large-app-description">Interfaz gráfica para la VPN de Cloudflare</div>
            </div>

            <div class="large-app-card" onclick="openApp('cruzcristianagnome')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/cruzcristiana-gnome-logo.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Cruz Cristiana GNOME</div>
                </div>
                <div class="large-app-description">Esta extensión de GNOME muestra la cruz de Cristo en la barra superior de GNOME para que Dios nos acompañe durante el uso del ordenador.</div>
            </div>

            <div class="large-app-card" onclick="openApp('memorywarn')">
                <div class="large-app-header">
                   <img src="https://inled.es/upload/memory-warn-logo.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Memory Warn</div>
                </div>
                <div class="large-app-description">Aplicación para Linux basados en Debian que avisa cuando el uso de memoria supera un límite establecido.</div>
            </div>

            <div class="large-app-card" onclick="openApp('winerror')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/winerror.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Windows Error</div>
                </div>
                <div class="large-app-description">Disfruta de la ventana de error de Windows XP en tu Mac</div>
            </div>

            <div class="large-app-card" onclick="openApp('winbsod')">
                <div class="large-app-header">
                    <img src="https://inled.es/upload/winbsod.png" class="app-icon" alt="icono MDPDF" />
                    <div class="large-app-name">Win BSOD</div>
                </div>
                <div class="large-app-description">La BSOD de Windows en tu Mac</div>
            </div>

        </div>

    </div>