<div class="main-content">
        <div class="header">
            <h1>Aplicaciones</h1>
        </div>

        <div class="apps-grid">
            <div class="large-app-card" onclick="openApp('MDPDF')">
                <img src="https://inled.es/upload/MDPDF.png" class="app-icon" alt="icono MDPDF" />
                <div class="large-app-header">MDPDF</div>
                 <div class="large-app-description">Edita y previsualiza markdown y expórtalo a PDF</div>
            </div>
            <div class="large-app-card" onclick="openApp('inlinked')">
                <img src="https://inlinked.inled.es/INLINKED.png" class="app-icon" alt="icono inLinked" />
                <div class="large-app-header">inLinked</div>
                 <div class="large-app-description">Formatea texto para LinkedIN</div>
            </div>
            <div class="large-app-card" onclick="openApp('inmd')">
                <img src="https://inled.es/upload/inMD.png" class="app-icon" alt="icono inMD" />
                <div class="large-app-header">inMD</div>
                 <div class="large-app-description">Edita markdown como si estuvieras en Word, sin ver código</div>
            </div>
            <div class="large-app-card" onclick="openApp('indoc')">
                <img src="https://inled.es/upload/INDOC.png" class="app-icon" alt="icono inDOC" />
                <div class="large-app-header">inDOC</div>
                 <div class="large-app-description">Edita texto enriquecido online</div>
            </div>
            <div class="large-app-card" onclick="openApp('inqr')">
                <img src="https://inqr.inled.es/inqr.png" class="app-icon" alt="icono inQR" />
                <div class="large-app-header">inQR</div>
                 <div class="large-app-description">crea códigos QR para webs, redes wifi y códigos de barras</div>
            </div>
            <div class="large-app-card" onclick="openApp('inpdf')">
                <img src="https://inpdf.inled.es/favicon.ico" class="app-icon" alt="icono inpdf" />
                <div class="large-app-header">InPDF</div>
                 <div class="large-app-description">Visor PDF con IA. Para Chrome</div>
            </div>
        </div>

        <div class="section-title">Utilidades</div>
        <div class="large-apps-grid">
            <div class="large-app-card" onclick="openApp('devreka')">
                <div class="large-app-header">
                    <img src="https://hosted.inled.es/devreka.png" class="app-icon" alt="icono devreka" />
                    <div class="large-app-name">Devreka</div>
                </div>
                <div class="large-app-description">Genera ideas de desarrollo para devs con IA</div>
            </div>

            <div class="large-app-card" onclick="openApp('glassy')">
                <div class="large-app-header">
                    <img src="https://hosted.inled.es/glassy.svg" class="app-icon" alt="icono glassy" />
                    <div class="large-app-name">Glassy</div>
                </div>
                <div class="large-app-description">Transforma una imagen en un svg liquid glass al estilo apple</div>
            </div>

            <div class="large-app-card" onclick="openApp('matrixwww')">
                <div class="large-app-header">
                    <img src="https://hosted.inled.es/matrixwww.ico" class="app-icon" alt="icono glassy" />
                    <div class="large-app-name">Matrix WWW</div>
                </div>
                <div class="large-app-description">Simulaciones web de los programas que aparecen en la trilogía de Matrix</div>
            </div>


        </div>

    </div>