---
---

<section class="features" id="características">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">¿Por qué InSuite?</h2>
      <p class="section-description">
        Una alternativa privada, gratuita, de código abierto y con IA (que también es privada)
      </p>
    </div>

    <div class="features-grid">
      <div class="feature-card">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M220-140h520v-434H220v434Zm260.17-140q31.83 0 54.33-22.03T557-355q0-30-22.67-54.5t-54.5-24.5q-31.83 0-54.33 24.5t-22.5 55q0 30.5 22.67 52.5t54.5 22ZM220-140v-434 434Zm0 60q-24.75 0-42.37-17.63Q160-115.25 160-140v-434q0-24.75 17.63-42.38Q195.25-634 220-634h330v-96q0-78.85 55.58-134.42Q661.15-920 740-920q71 0 123 44.5T927-765q2 12-6.62 23.5-8.63 11.5-20.63 11.5-12.75 0-21.25-6T868-755q-9-45-44.7-75T740-860q-54.17 0-92.08 37.92Q610-784.17 610-730v96h130q24.75 0 42.38 17.62Q800-598.75 800-574v434q0 24.75-17.62 42.37Q764.75-80 740-80H220Z"/></svg>
        </div>
        <h3 class="feature-title">Libre y gratuita</h3>
        <p class="feature-description">
          Toda la InSuite es gratuita y de código abierto
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M312-240q-51 0-97.5-18T131-311q-48-45-69.5-106.5T40-545q0-78 38-126.5T189-720q14 0 26.5 2.5T241-710l239 89 239-89q13-5 25.5-7.5T771-720q73 0 111 48.5T920-545q0 66-21.5 127.5T829-311q-37 35-83.5 53T648-240q-66 0-112-30l-46-30h-20l-46 30q-46 30-112 30Zm0-60q40 0 73.5-17t62.5-43h64q29 26 62.5 43t73.5 17q39 0 76.5-14.5T791-357q36-37 52.5-87T860-545q0-49-21.5-82T769-660q-9 0-29 6l-260 97-260-97q-7-3-14.5-4.5T190-660q-48 0-69 33t-21 82q0 52 16 101.5t54 87.5q29 28 65.5 42t76.5 14Zm49-80q37 0 58-16.5t21-45.5q0-49-64.5-93.5T239-580q-37 0-58 16.5T160-518q0 49 64.5 93.5T361-380Zm-6-55q-39 0-86-27.5T214-519q8-3 15-5t15-2q39 0 86.5 28t55.5 57q-8 3-15.5 4.5T355-435Zm244 56q72 0 136.5-45t64.5-94q0-29-20.5-46T721-581q-72 0-136.5 45T520-442q0 29 21 46t58 17Zm5-56q-8 0-14.5-1.5T575-441q9-29 55-56.5t86-27.5q8 0 15 1.5t15 4.5q-9 29-55.5 56.5T604-435Zm-124-45Z"/></svg>
        </div>
        <h3 class="feature-title">Más privada que todas</h3>
        <p class="feature-description">
          Las suites actuales hacen de usted un producto cuyos datos son utilizados. <br> InSuite procesa todo en su PC y no recopila ningún dato
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <img src="/inledai.svg" alt="inledAI Logo" width="48" height="48">
        </div>
        <h3 class="feature-title">Inled AI integrada</h3>
        <p class="feature-description">
          Inled AI, un sistema de IA novedoso que permite su ejecución en su PC, está integrada en los mejores editores de InSuite
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M480-140q-10.7 0-21.78-3.87-11.08-3.87-19.49-12.38L386-205Q262-320 171-424.5T80-643q0-90.15 60.5-150.58Q201-854 290-854q51 0 101 24.5t89 80.5q44-56 91-80.5t99-24.5q89 0 149.5 60.42Q880-733.15 880-643q0 114-91 218.5T574-205l-53 49q-8.25 8.38-19.12 12.19Q491-140 480-140Zm-26-543q-27-49-71-80t-93-31q-66 0-108 42.5t-42 108.93q0 57.57 38.88 121.22 38.88 63.66 93 123.5Q326-338 384-286.5q58 51.5 96 86.5 38-34 96-86t112-112.5q54-60.5 93-124.19T820-643q0-66-42.5-108.5T670-794q-50 0-93.5 30.5T504-683q-5 8-11 11.5t-14 3.5q-8 0-14.5-3.5T454-683Zm26 186Z"/></svg>
        </div>
        <h3 class="feature-title">Intuitiva</h3>
        <p class="feature-description">
          No necesitará los manuales de usuario para dar sus primeros pasos
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="m480-483-76 57q-5 3-9.5 0t-2.5-8l29-93-78-61q-5-3-2.5-8t7.5-5h94l31-96q2-5 7-5t7 5l30 96h95q5 0 7.5 5t-2.5 8l-78 61 28 93q2 5-2 8t-9 0l-76-57Zm0 364L284-53q-14 5-27-4.5T244-82v-262q-45-47-64.5-103T160-560q0-136 92-228t228-92q136 0 228 92t92 228q0 57-19.5 113T716-344v262q0 15-13 24.5T676-53l-196-66Zm0-181q109 0 184.5-75.5T740-560q0-109-75.5-184.5T480-820q-109 0-184.5 75.5T220-560q0 109 75.5 184.5T480-300ZM304-124l176-55 176 55v-171q-40 29-86 42t-90 13q-44 0-90-13t-86-42v171Zm176-86Z"/></svg>
        </div>
        <h3 class="feature-title">Cumple con el RGPD</h3>
        <p class="feature-description">
          Por el mero hecho de que no sacamos ni el más mínimo dato de su interacción con InSuite
        </p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M447-360h66q6.75 0 11.88-5.63Q530-371.25 528-378l-22-127q20.47-9.15 32.23-26.55Q550-548.94 550-570q0-28.88-20.59-49.44T479.91-640q-28.91 0-49.41 20.56Q410-598.88 410-570q0 21.06 11.77 38.45Q433.53-514.15 454-505l-22 127q-2 6.75 3.13 12.37Q440.25-360 447-360Zm33 276q-5.32 0-9.88-1-4.56-1-9.12-3-139-47-220-168.5t-81-266.61V-719q0-19.26 10.88-34.66Q181.75-769.07 199-776l260-97q11-4 21-4t21 4l260 97q17.25 6.93 28.13 22.34Q800-738.26 800-719v195.89Q800-378 719-256.5T499-88q-4.56 2-9.12 3T480-84Zm0-59q115-38 187.5-143.5T740-523v-196l-260-98-260 98v196q0 131 72.5 236.5T480-143Zm0-337Z"/></svg>
        </div>
        <h3 class="feature-title">Seguridad</h3>
        <p class="feature-description">
          Nunca sus documentos saldrán de su dispositivo a través de la InSuite (a excepción de InQR, que genera el QR desde una API pública)
        </p>
      </div>
    </div>
  </div>
</section>

<style>

</style>