---
---

<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">

        <h1 class="hero-title">
          La suite en línea <span class="gradient-text">libre</span>, <span class="gradient-text">privada</span> y <span class="gradient-text">con IA</span>
        </h1>
        <p class="hero-description">
          Varios editores que solventan sus quehaceres diarios sin llevarse ni un solo dato que le pertenece.
        </p>
        <div class="hero-actions">
          <a href="/apps" class="btn btn-primary btn-large">
  
            Acceder
          </a>
          <a href="https://help.inled.es" class="btn btn-secondary btn-large">
            <i class="fa-solid fa-book"></i>
            Documentación
          </a>
        </div>
    

      </div>
      <div class="hero-visual">
        <div class="floating-cards">


          <div class="card card-3">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-440H240q-17 0-28.5-11.5T200-480q0-17 11.5-28.5T240-520h200v-200q0-17 11.5-28.5T480-760q17 0 28.5 11.5T520-720v200h200q17 0 28.5 11.5T760-480q0 17-11.5 28.5T720-440H520v200q0 17-11.5 28.5T480-200q-17 0-28.5-11.5T440-240v-200Z"/></svg>
            <div class="card-content">
              <h3>Mucho más</h3>
              <p>Que si no la página se hace muy grande</p>
            </div>
          </div>

          <div class="card card-1">
              <img src="https://indoc.inled.es/INDOC.png" class="flotantes">
            <div class="card-content">
              <h3>InDOC</h3>
              <p>Crea documentos con IA</p>
            </div>
          </div>
          

          <div class="card card-2">
              <img src="https://inmd.inled.es/inMD.png" class="flotantes">
            <div class="card-content">
              <h3>InMD</h3>
              <p>Edita markdown sin ver código</p>
            </div>
          </div>


          <div class="card card-4">
              <img src="https://inlinked.inled.es/INLINKED.png" class="flotantes">
            <div class="card-content">
              <h3>InLinked</h3>
              <p>Crea post de LinkedIn con IA</p>
            </div>
          </div>
        


        </div>
      </div>
    </div>
  </div>
</section>