---
import LanguageSelector from './LanguageSelector.astro';

// This is the "frontmatter" where you can write JavaScript
const currentPath = Astro.url.pathname;

// Define your sidebar items with their paths
const sidebarItems = [
  { path: '/', icon: 'home' },
  { path: '/apps', icon: 'apps' },
];
---

<div class="sidebar">
  {sidebarItems.map((item) => (
    <a href={item.path} class={`sidebar-item ${currentPath === item.path ? 'active' : ''}`} style="text-decoration: none; color: white;">
<span class="material-symbols-rounded">
{item.icon}
</span>
    </a>
  ))}

  <div class="sidebar-language">
    <LanguageSelector />
  </div>
 </div>
