---
import Sub from '../components/Sub.astro';
---
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/language-selector.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4bf0ac964c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
        <link rel="sitemap" href="/sitemap.xml" />
		<title>InSuite | Tu suite ofimática libre</title>
		<meta name="description" content="InSuite es una suite ofimática libre y gratuita que incluye aplicaciones como MDPDF, inLinked, inMD e inDOC. Descubre nuestras herramientas para mejorar tu productividad." />

    </head>
    <body>
        <slot />
        <Sub />
        <script>
            // Este script debe ir aquí para asegurar que el DOM esté cargado
            document.getElementById('menu-toggle')?.addEventListener('click', () => {
                document.querySelector('.mobile-menu')?.classList.toggle('active');
            });
        </script>
    </body>
</html>